<h1><%= @group.title %></h1>
<br />

Near to<input id="query"></input>
in radius
<select id="range">
  <option value="15">15 km</option>
  <option value="50">50</option>
  <option value="150">150</option>
  <option value="300">300</option>
  <option value="99999999">Infinity</option>
</select>
km

<a id="search_link" href='javascript:void(0);'>Search</a>


<%= gmaps("map_options" => {"provider_key" => "ABQIAAAApJArxHc7YBf6zd_yKs9-5RRgSEVOhr2Qv8LN5IAo35nqWhJxaRS8PE0_Ua_Q_aAt7jodOr1XTomIUg"}) %>
Nearest objects:
<ul id="markers_list">  </ul>
<% content_for :scripts do %>
<script type="text/javascript">
  var client_marker;
  var markers;
  var original_map;
  var client_location;
  var client_location_lat;
  var client_location_lng;
  var location_latlng;
  var location_string = "london";
  var geocoder = new google.maps.Geocoder();

  // определение положения пользователя
  function locate_client_position(){
    navigator.geolocation.getCurrentPosition(successCallback,
                                               errorCallback,
                                               {maximumAge:600000});
  }
  function successCallback(position) {
    client_location_lat = position.coords.latitude;
    client_location_lng = position.coords.longitude;
    client_location = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
    geocoder.geocode({'latLng': client_location}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          jQuery("#query").val(results[0].formatted_address);
          location_string = results[0].formatted_address;

          update_markers();
          //client_marker = new google.maps.Marker({
          //    position: client_location,
          //    map: original_map,
          //    title:"You are here",
          //    icon: "/images/client_arrow.png"
          //});

        }
      } else { alert("geocoding failed") }
    });
  };
  function errorCallback(error) {
    alert("Location did not detected.");
  };
  // конец определения положения пользователя

  function update_markers(){
    location_string = jQuery("#query").val();
            //alert(client_location_lat);
            jQuery.getJSON('/groups/<%= @group.id %>/get_markers.json', {query: $("#query").val(), lat: client_location_lat, lng: client_location_lng, range: jQuery("#range").val() }, function(data) {
              //alert(data);
              markers = data;

              Gmaps.map.replaceMarkers(data);
              update_list();
            });
  };


  jQuery("#search_link").click(function(event) {
    update_markers();
  });

  function update_list() {
    $("#markers_list").html("");
    var i=0;
    for (i=0;i<markers.length;i++) {
      //$("#markers_list").append("<li><a lat='" + markers[i].lat + "' lng='" + markers[i].lng + "' href='javascript:void(0);'>" + markers[i].sidebar + " - miles to " + location_string + "</a></li>");
      $.post("/groups/<%= @group.id %>/sidebar", { lat: markers[i].lat, lng: markers[i].lng, location: location_string}, function() {});
    }
    //$("#markers_list li a").click(function(event) {
    //    Gmaps.map.map.panTo(new google.maps.LatLng($(this).attr("lat"), $(this).attr("lng")));
    //});
  };


  Gmaps.map.callback = function() {
    original_map = Gmaps.map.map;
    locate_client_position();
  };
</script>
<% end %>

