<% @markers.each do |m| %>
  $("#markers_list").append("<li><a lat='<%= m.latitude.to_s %>' lng='<%= m.longitude.to_s %>' href='javascript:void(0);'><%= m.gmaps4rails_sidebar + " - " + @location + " (" + m.distance_to(@location).round(2).to_s + "km)" %></a></li>");
<% end %>
$("#markers_list li a").click(function(event) {
  Gmaps.map.map.panTo(new google.maps.LatLng($(this).attr("lat"), $(this).attr("lng")));
});

