<div id="tabs">
	<ul>
		<li><a href="#tabs-0">Countries</a></li>

		<% @groups.each do |group| %>
	  <li><a href="#<%= group.id %>" class="group_link" goal = "<%= group.id %>" ><%= group.title %></a></li>
	  <% end %>

	</ul>
	<div id="tabs-0">
    <iframe src="/countries" style="width: 100%; height: 700px;">
      Ваш браузер не поддерживает плавающие фреймы!
    </iframe>
	</div>

	<% @groups.each do |group| %>
	  <div id="<%= group.id %>" class="group_div"></div>
	<% end %>

</div>

	<script>
	$(function() {
		$( "#tabs" ).tabs();
	});

		$(function() {

	  $(".group_link").each(function(){
      this.onclick = function(event) {
        $(".group_div").each(function(){
          $(this).html("");
        });
        $($(this).attr("href")).html("<iframe src='/groups/" + $(this).attr("goal") + "' style='width: 100%; height: 700px;'>Ваш браузер не поддерживает плавающие фреймы!</iframe>")
      };
    });

	});

	</script>

