$('<div id = "infoWindow" title = <%= @country.title %> > <p> Description: <%= @country.description %> </p> <p> Vitiligo: <%= @country.opacity %> </p> </div>').insertAfter("#visualization");
$('#infoWindow').dialog();

