<% if !@country.nil? %>
  $('<div id = "infoWindow" title = <%= @country.country_list.name %> > <p> Description: <%= @country.description %> </p> <p> Vitiligo: <%= @country.value %> </p> </div>').insertAfter("#visualization");
  $('#infoWindow').dialog({ position: [mouseX, mouseY]  });
<% else %>
    $('<div id = "infoWindow" title = "No data"> <p>For this country we have no data.</p></div>').insertAfter("#visualization");
  $('#infoWindow').dialog({ position: [mouseX, mouseY]  });
<% end %>

